<ion-view title="Sued:M" ng-controller="LoginController as logctrl" hide-back-button="true" hide-tabs>
    <ion-content class="has-header">
        <center><h1>Sued:Board Mobile</h1></center>
        <div class="list">
            <label class="item item-input item-floating-label">
                <span class="input-label">Benutzername</span>
                <input type="text" placeholder="Benutzername" ng-model="logctrl.username">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Passwort</span>
                <input type="password" placeholder="Passwort" ng-model="logctrl.password">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">API Key</span>
                <input type="text" placeholder="API Key" ng-model="logctrl.apikey" />
            </label>
            <button class="button button-full button-balanced" ng-click="logctrl.join()">
                Login
            </button>
        </div>
    </ion-content>
</ion-view>