<ion-view title="{{meta.subject}}" cache-view="false">
  <ion-nav-buttons side="right">
      <a class="button button-clear button-calm" ng-href="#/tab/write/answer" ng-click="answer()">Antworten</a>
      </button>
   </ion-nav-buttons>
    <ion-content class="has-header">
        <div class="bubble you">
          <span class="author">{{meta.sender}}</span>
          <div ng-bind-html="message| html_fix" id="messagecont"></div>
          <span class="timestamp">{{meta.date}}</span>
        </div>
    </ion-content>
</ion-view>
