<ion-view title="Shoutbox" cache-view="false">
    <ion-content class="has-header">
      <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()"></ion-refresher>
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input type="text" placeholder="Neuer Eintrag" ng-model="shout.message">
        </label>
        <button class="button button-small" ng-click="sendShout()">
          Senden
        </button>
      </div>
        <div ng-class="(username = element.user) ? 'bubble me' : 'bubble you' " ng-repeat="element in shoutbox">
          <span class="author">{{element.user}}</span>
          <div ng-bind-html="element.text | html_fix"></div>
          <span class="timestamp">{{element.date}}</span>
        </div>

        </div>
    </ion-content>
</ion-view>
